<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirm</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        let requestOptionsConfirmJob = {
        method: 'GET',
        redirect: 'follow'
    };

    fetch("http://localhost:8080/list/one", requestOptionsConfirmJob)
        .then(response => response.text())
        .then(result => {
            const resultJSON = JSON.parse(result);
            let htmlContent = `
            <table  class = "table">
                    <tr>
                        <th> job name  </th>
                        <th> employer name </th>
                        <th> employer status </th>
                        <th> your status </th>
                    </tr> 
            `
            console.log(resultJSON);
            for (let index = 0; index < resultJSON.length; index++) {
                 const element = resultJSON[index];
            htmlContent += `
                <tr>
                    <td>${element.jobs.name}</td>
                    <td>${element.employer_list.name}</td>
                    <td>${element.status}</td>
                    <td>${element.statusByStudent}</td>
                    <td>
                   
                   <select name="status${element.id}">
                       <option value="-1">Please select any of the option</option>
                       <option value="accept">accept</option>
                       <option value="reject">reject</option>
                   </select>
                   </td>
                   <td>
                   <button name="updateButton" class="btn btn btn-dark" onclick="updateTheStatusOfStudent(${element.id}, ${element.job_id})"> Update </button>
               </td>
                </tr>
                `
            }
            htmlContent += `</table>`;

            document.getElementById("nameOfUser").innerHTML = htmlContent;
        })
        .catch(error => console.log('error', error));
        function updateTheStatusOfStudent(row_id, id) {
            console.log(id);
            let tmpStatus = document.getElementsByName(`status${row_id}`)[0].value;
            console.log(tmpStatus)
            if (tmpStatus == -1) {
                console.log("Please select any of the Approve or Reject Option");
                alert("Please select any of the Approve or Reject Option");
                return;
            }

            var myHeaders = new Headers();
            myHeaders.append("Content-Type", "application/json");

            var raw = JSON.stringify({
                "job_id": id,
                "statusByStudent": tmpStatus
            });

            var requestOptionsConfirmJob = {
                method: 'PUT',
                headers: myHeaders,
                body: raw,
                redirect: 'follow'
            };

            fetch("http://localhost:8080/list/updatebystudent", requestOptionsConfirmJob)
                .then(response => response.text())
                .then(result => console.log(result))
                .catch(error => console.log('error', error));


        }
</script>
</head>

<body>
    <%- include('./navbar') %>
    <h1 class="mx-auto">Confirm job </h1>
    <div id="nameOfUser">
    </div>
</body>

</html>