<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
        let requestOptionsPosted = {
        method: 'GET',
        redirect: 'follow'
    };

    fetch("http://localhost:8080/job/posted", requestOptionsPosted)
        .then(response => response.text())
        .then(result => {
            const resultJSON = JSON.parse(result);
            let htmlContent = `
                <table border="2">
                    <tr>
                        <th>Name</th>
                        <th>profile</th>
                        <th>preference</th>
                        <th>package_info</th>
                        <th>salary_start</th>
                        <th>salary_end</th>
                        <th>company name</th>
                        <th>email</th>
                    </tr> 
            `
            console.log(resultJSON);
            for (let index = 0; index < resultJSON.length; index++) {
                    const element = resultJSON[index];
            htmlContent += `
                <tr>
                    <td>${element.name}</td>
                    <td>${element.profile}</td>
                    <td>${element.preference}</td>
                    <td>${element.package_info}</td>
                    <td>${element.salary_start}</td>
                    <td>${element.salary_end}</td>
                    <td>${element.user.name}</td>
                    <td>${element.user.email}</td>
                </tr>
                `
            }
            htmlContent += `</table>`;

            document.getElementById("nameOfUser").innerHTML = htmlContent;
        })
        .catch(error => console.log('error', error));
</script>
</head>

<body>
    <%- include('./navbar') %>
    <h1>Jobs </h1>
    <div id="nameOfUser">
    </div>
</body>

</html>